.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 40px 1px rgb(34 34 34 / 8%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card__key-information {
  display: grid;
  gap: 2rem;
}

.card__key-information-field-container {
  padding: 1rem;
}

.spacer {
  margin-bottom: 0;
}

.field-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.list-field-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5em;
  line-height: 28px;
  font-weight: bold;
}

lightning-input-field {
  padding: 0;
  margin: 0;
}

.field-label {
  font-size: 1.7em;
  line-height: 33px;
}

.field-value {
  font-size: 1.7em;
  line-height: 33px;
  font-weight: bold;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: #f25270;
}
